<div class="container">
  <form #form="ngForm" (ngSubmit)="updatePost(form)">
    <fieldset class="w-50 m-auto pt-5">

      <h2>Update post</h2>

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          autocomplete=""
          placeholder="title"
          [(ngModel)]="post.title"
          #title="ngModel"
          required
          minlength="5"
        />
        <ng-container *ngIf="title.touched">
          <p class="error" *ngIf="title.errors?.['required']">
            Title is required!
          </p>
          <p class="error" *ngIf="title.errors?.['minlength']">
            Title must be at least 5 characters!
          </p>
        </ng-container>
      </div>

      <div class="mb-3">
        <label for="imgUrl" class="form-label">Image</label>
        <input
          type="text"
          class="form-control"
          id="imgUrl"
          name="imgUrl"
          autocomplete=""
          placeholder="imgUrl"
          [(ngModel)]="post.imgUrl"
          #imgUrl="ngModel"
          required
          pattern="^(https?:\/\/)?(([\da-z\.-]+)\.([a-z\.]{2,6})|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))([\/\w \.-]*)*\/?$"

        />
        <ng-container *ngIf="imgUrl.touched">
          <p class="error" *ngIf="imgUrl.errors?.['required']">
            Image is required!
          </p>
          <p class="error" *ngIf="imgUrl.errors?.['pattern']">
            Image must be be a valid URL!
          </p>
        </ng-container>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          name="description"
          autocomplete=""
          placeholder="description"
          [(ngModel)]="post.description"
          #description="ngModel"
          required
          minlength="10"
        />
        <ng-container *ngIf="description.touched">
          <p class="error" *ngIf="description.errors?.['required']">
            Description is required!
          </p>
          <p class="error" *ngIf="description.errors?.['minlength']">
            Description must be at least 10 characters!
          </p>
        </ng-container>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="text"
          class="form-control"
          id="price"
          name="price"
          autocomplete="number"
          placeholder="price"
          [(ngModel)]="post.price"
          #price="ngModel"
          required
          minlength="1"
        />
        <ng-container *ngIf="price.touched">
          <p class="error" *ngIf="price.errors?.['required']">
            Price is required!
          </p>
          <p class="error" *ngIf="price.errors?.['minlength']">
            Price must be at least 1 characters!
          </p>
        </ng-container>
      </div>

      <button
        [disabled]="form.invalid" [style]="{ backgroundColor: form.invalid ? 'grey' : 'blue' }"
        class="btn btn-primary">Update post</button>
      <ng-container>
        <p class="error" *ngIf="updatePostFailed">
          Post update is not created!
        </p>
      </ng-container>
    </fieldset>
  </form>
</div>
