
        <section id="createPage">
            <form id='createForm'  method="post">
                <label for="name">Title:</label>
                <input type="text" id="name" name="title" placeholder="Name...">

                <label for="image">Image:</label>
                <input type="text" id="image" name="image" placeholder="Image...">

                <label for="description">Text:</label>
                <input type="text" id="description" name="text" placeholder="Description...">

                <input type="submit" class="create" value="Create Course">
            </form>
        </section>

 