

        <section id="editPage">
            <form id='editForm'  method="post">
                <label for="name">Title:</label>
                <input type="text" id="name" name="title" value="{{post.title}}">

                <label for="image">Image:</label>
                <input type="text" id="image" name="image" value="{{post.image}}">

                <label for="description">Text:</label>
                <input type="text" id="description" name="text" value="{{post.text}}">

                <input type="submit" class="edit" value="Edit Course">
            </form>
        </section>

