<div class="card mt-5 w-50 m-auto">
  <img src="{{post.imgUrl}}"
       class="card-img-top w-25 m-auto" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.description }}</p>
    <p class="card-text"><small class="text-body-secondary">{{ post.timeSinceCreation }}</small></p>
  </div>
  <ng-container *ngIf="isOwner">
    <div class="card-footer d-flex justify-content-center">
      <button class="btn btn-warning mx-3">Edit</button>
      <button class="btn btn-danger mx-3">Delete</button>
    </div>
  </ng-container>
</div>
