<div class="container pb-5">
  <div *ngFor="let post of posts" class="card mt-5 mb-5">
    <img src="{{post.imgUrl}}"
         class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.description}}</p>
      <p class="card-text"><small class="text-body-secondary">{{post.created_at}}</small></p>
      <a [routerLink]="post._id" class="normal">
        <h2>{{ post._id }}</h2>
      </a>
    </div>
  </div>
</div>





